<%#これはコメントよ！%>
<%#  これもこめんと
   %>

show show show <br/>
<%= "aoyama" %>
です。<br/>

<hr/>
<b> Hello </b>

post: <br />
namae: <%= controller()->httpRequest().parameter("namae") %> <br />
OS: <%= controller()->httpRequest().parameter("OS") %> <br />
submit: <%= controller()->httpRequest().parameter("submit") %> <br />

<% int d = 0; %>
<%
 QString hoge = tr("なに！<br/>");
%>
<br />
<%= d
%>  <%#コメントよ！%>
<% for (int i = 0; i < 2; ++i) { %>
  <%= hoge %> 
<% } %>

<% for (int i = 0; i < 2; ++i) { %>
  Hello <br/> 
<% } %>
<% for (int i = 0; i < 2; ++i) { %> Hello2 <br/><% } %>
<% for (int i = 0; i < 2; ++i) { %> Hello3 <br/> 
<% } %>
<% for (int i = 0; i < 2; ++i) { %>
 Hello4 <br/><% } %>

<form action="/Hello/index" method="post">
<%== inputAuthenticityTag() %>
<p>お名前：<input type="text" name="namae" value="<%= controller()->httpRequest().parameter("namae") %>" size="20" />
</p>
<p>OS：
<input type="radio" name="OS" value="win" checked="checked" /> Windows
<input type="radio" name="OS" value="mac" /> Machintosh
<input type="radio" name="OS" value="unix" /> Unix
</p>
<p><input type="submit" name="submit" value="送信" /></p>
<%== submitImageTag("logo.png") %>
</form>

